<nav>
  <div class="site-title">
    <img src="/darth-vader.jpg" alt="Darth Vader" />
    <a href="/"> <h1>Empire's Blog</h1></a>
  </div>
  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New Blog</a></li>
  </ul>
</nav>
