<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
      <h2>About us</h2>
      <p>
        The Galactic Empire, declared as the First Galactic Empire and
        remembered as the Old Empire, was the fascist dictatorship that replaced
        the Galactic Republic at the end of the Clone Wars. Though the Empire
        rose to power by promising to bring order to the galaxy, it oversaw a
        period of harsh military rule and aggressive expansion. The subsequent
        Imperial Era would last only two decades, for it was eventually
        overthrown by the Alliance to Restore the Republic in the Galactic Civil
        War, but not before the sovereign star systems of the galaxy had been
        largely conquered and oppressed by the Empire's forces.
      </p>
      <br />
      <p>
        The First Galactic Empire traced its origins to a Sith conspiracy to
        destroy the Jedi Order and regain control over the galaxy. The Empire
        was secretly controlled by the Sith, for Galactic Emperor Palpatine was,
        in fact, the Sith Lord Darth Sidious, whose reign was enforced by Darth
        Vader. Rising to power on a groundswell of populist support, and
        capitalizing on anti-Jedi and anti-droid sentiment and
        human-ethnocentrism manufactured by the destructive Clone Wars, Darth
        Sidious appointed himself Emperor at the end of the conflict by
        promising security and stability to the war-torn Republic. Gaining the
        overwhelming approval of the Galactic Senate, Sidious staged a coup by
        the Jedi, and oversaw their subsequent purge by Darth Vader and his
        Inquisitors.
      </p>
      <br />
      <p>
        The Empire stood virtually unchallenged during its rise to power, with
        the backing of the Imperial Senate and the spreading of its massive
        technological military force across the galaxy. However, numerous
        insurgent cells sprang up against the Empire and gradually united to
        initiate a growing rebellion, winning its first major victory over
        Mustafar in 4 BBY. These rebel groups eventually formed the Rebel
        Alliance in 2 BBY, and achieved its first major victory with the theft
        of the Death Star plans on Scarif, which, in turn, led to the
        destruction of the Death Star at the Battle of Yavin in 0 BBY. The
        following years saw initial Alliance successes until a major Imperial
        victory on Hoth in 3 ABY, but the Empire suffered a devastating defeat
        one year later at the Battle of Endor. During the battle, Darth Sidious
        was slain at the hands of his Sith apprentice Vader, who himself died
        shortly thereafter, marking the end of Sith rule.
      </p>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
